@model GodLibrary.God

@{
    ViewBag.Title = "Index";
}

<h2>God</h2>
<div><strong>@Html.LabelFor(x => x.Name):</strong> @Model.Name</div>
<div><strong>@Html.LabelFor(x => x.Description):</strong> @Model.Description</div>
@{
    @:Hello World
}

