@model GodLibrary.God

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>God</h2>
<div><strong>Name:</strong> @Model.Name</div>
<div><strong>Description:</strong> @Model.Description</div>