@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Messages</h2>

@*<div>@Html.ActionLink("MySpreadsheets", "MySpreadsheets", "Home")</div>*@
<div>@Html.ActionLink("God", "Index", "God") </div>
<div>@Html.ActionLink("Humans", "Humans", "God")</div>