@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>
<fieldset>
    <legend>Product Detail</legend>
    <div class="box">
        <label for="name">Name:</label>
        <input type="text" id="name" class="txt" />
    </div>

    <div class="box">
        <label for="name">Category:</label>
        <input type="text" id="category" class="txt" />
    </div>
</fieldset>